mixin adminNav
	.card.mb-3.mt-n3.p-0
		nav.navbar.navbar-expand.p-0
			.container-fluid
				.collapse.navbar-collapse
					ul.navbar-nav
						li.nav-item.me-2.md-md-3
							a.nav-link.active(href="./admin/dashboard") Dashboard
						li.nav-item.me-2.md-md-3
							a.nav-link(href="./admin/app-stats") App Stats
						li.nav-item.me-2.md-md-3
							a.nav-link(href="./admin/os-stats") OS Stats
						li.nav-item.me-2.md-md-3
							a.nav-link(href="./admin/perf-log") Performance Log