$body-bg: #1a2433;
$body-color: #f7fafa;

$main-bg: darken($body-bg, 4%);

$text-muted: #b2bac2;

$dark: darken($body-bg, 8%);

/*$theme-colors: (
	"dark": #292e33
);*/


$blue: #0d6efd;
$light: darken(#f8f9fa, 5%);
$link-color: $blue;
$card-highlight-color: #3d76cc;

$table-striped-bg-factor: 0.15;

$bg-nav-link-hover: lighten($body-bg, 5%);


$input-bg: lighten($body-bg, 15%);
$input-border-color: darken($input-bg, 10%);
$form-control-bg: lighten($body-bg, 15%);
$input-disabled-bg: darken($form-control-bg, 20%);



$border-color: lighten($body-bg, 4%);

$card-border-color: $border-color;

$link-hover-color:			#408cff;


/*$table-striped-bg: lighten($body-bg, 2%);*/


$pagination-bg: 					$body-bg;
$pagination-border-color: 			lighten($border-color, 5%);
$pagination-active-bg: 				$body-bg;
$pagination-active-border-color: 	lighten($border-color, 5%);
$pagination-hover-bg: 				lighten($pagination-bg, 15%);
$pagination-hover-border-color: 	lighten($border-color, 5%);
$pagination-disabled-bg: 			darken($pagination-bg, 3%);
$pagination-disabled-border-color: 	lighten($border-color, 5%);


$tooltip-bg: lighten($body-bg, 15%);
$tooltip-color: $body-color;


$nav-tabs-link-active-color:		darken($body-color, 5%);
//$nav-tabs-link-active-bg:			$body-bg !default;
$nav-tabs-link-active-border-color:	#ced4da #ced4da $body-bg !important;


$btn-close-color: #fff;


$tooltip-opacity: 1.0;

$dropdown-bg: lighten($body-bg, 10%);
$dropdown-link-color: $body-color;
$dropdown-link-hover-bg: lighten($dropdown-bg, 10%);
$dropdown-link-hover-color: $body-color;
$dropdown-link-active-bg: lighten($dropdown-bg, 5%);
$dropdown-dark-bg: #ff0;
$dropdown-dark-link-hover-bg: #0ff;
$dropdown-dark-link-active-bg: #f0f;
$dropdown-link-active-color: lighten($dropdown-bg, 5%);

$dropdown-header-color: darken($body-color, 25%);

$dropdown-box-shadow: 0 1.5rem 1rem rgba(#000, .35);


//$input-border-color: lighten($input-bg, 9%);
$input-color: $body-color;
$input-placeholder-color: darken($input-color, 20%);
$input-group-addon-bg: darken($input-bg, 12%);


$modal-content-bg: $body-bg;
$modal-content-color: $body-color;



$toast-color:                       $body-color;
$toast-background-color:            lighten($body-bg, 15%);
$toast-border-color:                rgba(255, 255, 255, .1);
$toast-header-color:                $body-color;
$toast-header-background-color:     lighten($body-bg, 7%);
$toast-header-border-color:         rgba(0, 0, 0, .05) !default;


$progress-bg: darken($body-bg, 8%);



@import "./main";





.alert-primary {
	color: $body-color;
	background-color: darken($primary, 35%);
	border-color: darken($primary, 20%);
	border-width: 2px;
}

.alert-danger {
	color: $body-color;
	background-color: darken($danger, 30%);
	border-color: darken($danger, 20%);
	border-width: 2px;
}

.alert-warning {
	color: $body-color;
	background-color: darken($warning, 25%);
	border-color: darken($warning, 15%);
	border-width: 2px;
}

.alert-success {
	color: $body-color;
	background-color: darken($success, 10%);
	border-color: lighten($success, 5%);
	border-width: 2px;
}

.alert-info {
	color: $body-color;
	background-color: darken($info, 20%);
	border-color: darken($info, 10%);
	border-width: 2px;
}




.bg-background {
	background-color: #000;
}

.bg-main {
	background-color: $main-bg !important;
}


$header-footer-bg: #112138;

.bg-header-footer {
	background-color: $header-footer-bg !important;
}

.bg-header-footer-highlight {
	background-color: lighten($header-footer-bg, 12%) !important;
}

.bg-gradient-body-to-main {
	background: linear-gradient(0deg, $main-bg 0%, $body-bg 100%);
}

.bg-card-highlight-badge {
	background-color: $body-bg !important;
}



.bg-tx-separator {
	background-color: #131a24;
}

.border-card-highlight-badge {
	border-color: #183662 !important;
}

.border-dark {
	border-color: lighten($dark, 8%) !important;
}

.card-highlight {
	background-color: lighten($card-bg, 5%);
	border: solid 1px lighten($card-bg, 10%) !important;
	color: $body-color;
}

.text-card-highlight {
	color: $card-highlight-color !important;
}

.border-dotted {
	border-bottom: dotted 1px #6688bc;
}

code {
	padding: 0px 3px;
	border-radius: 3px;
	background-color: lighten($card-bg, 15%);
	color: #198754;
}