$body-bg: #fff;
$body-color: #212529;

$main-bg: #f2f5f7;

$border-color: #e4e7eb;
$card-border-color: $border-color;


$nav-tabs-border-color: #adb5bd;
$nav-tabs-link-active-color: lighten($body-color, 5%);
$nav-tabs-link-active-border-color: #adb5bd #adb5bd $body-bg !important;


$alert-bg-scale: -70%;
$alert-border-scale: -60%;






@import "./main";
@import "../../node_modules/bootstrap/scss/bootstrap";



.bg-main {
	background-color: $main-bg !important;
}

.bg-header-footer {
	background-color: #212529 !important;
}

.bg-header-footer-highlight {
	background-color: lighten(#212529, 15%) !important;
}

.bg-header-footer {
	background-color: #162740 !important;
}

.bg-header-footer-highlight {
	background-color: lighten(#162740, 15%) !important;
}

.bg-gradient-body-to-main {
	background: linear-gradient(0deg, $main-bg 0%, $body-bg 100%);
}

.card-highlight {
	background-color: darken($card-bg, 3%);
	border: solid 1px darken($card-bg, 10%) !important;
	color: $body-color;
}