div.alert.alert-warning(id="connection-warning", style="display:none")
	div.fw-bold.mb-1 Unable to connect to node to check for new blocks...

	div.mb-1 Auto-refresh is on but this explorer is failing to connect to your node so new blocks cannot be detected. Retries will be attempted automatically.
