// debug as if we're in privacy mode (which means we don't have exchange rate data)
//- exchangeRates = null;

// debug as if we're in performance protection mode (which means we don't calculate UTXO set details)
//- utxoSetSummary = null;
//- utxoSetSummaryPending = false;

// debug as if we don't have result.blockstats (applies to block pages when node version < 0.17.0)
//if (result)
//	- result.blockstats = null;

// no networkVolume
//- networkVolume = null;