div(class="radial-progress d-none d-lg-inline-block", data-progress=parseInt(radialProgressBarPercent), data-toggle="tooltip", title=(radialProgressBarPercent + "% full"))
	div(class="circle")
		div(class="mask full")
			div(class="fill")
		div(class="mask half")
			div(class="fill")
			div(class="fill fix")
	div(class="inset")