- var timeAgo = moment.duration(moment.utc(new Date()).diff(moment.utc(new Date(parseInt(timeAgoTime) * 1000))));

span  
span(data-toggle="tooltip", title=(timeAgo.format() + " ago"))
	i.far.fa-clock