div(class="card mb-4 shadow-sm")
  div(class="card-header")
    h2(class="h6 mb-0") Tools
  div(class="card-body")
    div(class="row")
      each item, index in [[0, 1, 2], [4, 3, 5], [6, 7, 8]]
        div(class="col-md-4")
          ul(style="list-style-type: none;", class="pl-0")
            each toolIndex, toolIndexIndex in item
              - var siteTool = config.siteTools[toolIndex];

              li
                if (((siteTool.name === "RPC Browser") || (siteTool.name === "RPC Terminal")) && !(config.showRpc))
                  // do nothing
                else
                  div(class="float-left", style="height: 50px; width: 40px; margin-right: 10px;")
                    span
                      i(class=siteTool.fontawesome, class="fa-2x mr-2", style="margin-top: 6px;")
                  a(href=siteTool.url) #{siteTool.name}
                  br
                  p #{siteTool.desc}
