		div(style="text-align: center; padding-top:-15px;")
			script(async, src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2900084726921838", crossorigin="anonymous")
			ins.adsbygoogle(style="display:inline-block;width:728px;height:90px", data-ad-client="ca-pub-2900084726921838", data-ad-slot="1164912161")
			script.
				(adsbygoogle = window.adsbygoogle || []).push({});
			a(href=`https://chhuornouodom.com/`,target="_blank") 
				img(src="https://www.widecoin.org/public/images/cnoads-720x90.gif", alt="books", style="border: solid 0px #ccc;")
		div(style="text-align: center; padding-bottom:10px;")