div(style="text-align: center; padding-top:-15px;")
  script(async, src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2900084726921838", crossorigin="anonymous")
  ins.adsbygoogle(style="display:inline-block;width:728px;height:90px", data-ad-client="ca-pub-2900084726921838", data-ad-slot="6332649640")
  script.
    (adsbygoogle = window.adsbygoogle || []).push({});
div(style="text-align: center; padding-bottom:10px;")
