extends layout

block headContent
	title Briskcoin Whitepaper

block content
	+pageTitle("Briskcoin Whitepaper", "(Extracted from the blockchain!)")

	+dismissableInfoAlert("whitepaperPageNoteDismissed", "About the Briskcoin Whitepaper Tool...")
		p Below is the Briskcoin whitepaper, extracted from data in the Briskcoin blockchain (transaction 
			a(href="./tx/54e48e5f5c656b26c3bca14a8c95aa583d07ebe84dde3b7dd4a78f4e4186e713") 54e48e5f5c6…
			span.ms-2 to be precise), served by your <b>Briskcoin Core</b> node.

		div The data has been decoded by this tool and is displayed in an iframe below. You can view it directly and/or download it at 
			a(href="./Briskcoin.pdf") /Briskcoin.pdf
			|.

	if (global.activeBlockchain == "main")
		iframe(src="./Briskcoin.pdf", title="The Briskcoin Whitepaper", style="width: 100%;", height="800")

	else
		+warningAlert
			.mb-2 Whoops! The Briskcoin Whitepaper is embedded in a particular transaction in the mainnet blockchain. It looks like this node is configured for a different network, so the data is not available to be extracted.
			| Try running a mainnet node to use this tool.
