extends layout

block headContent
	title Block ##{result.getblock.height.toLocaleString()}, #{result.getblock.hash}

block content
	h1.h3 Block 
		small.text-monospace(style="width: 100%;") ##{result.getblock.height.toLocaleString()}
		br
		small.text-monospace.word-wrap(style="width: 100%;") #{result.getblock.hash}
	hr

	include includes/block-content.pug