extends layout

block headContent
	title Changelog

	style.
		code { padding: 0px 3px; border: solid 1px #ccc; border-radius: 3px; background-color: #ccc; color: black; }

block content
	h1.h3 Changelog
	hr

	div.card.shadow-sm.mb-3
		div.card-body
			| !{changelogHtml}