extends layout

block content
	h1(class="h2") RPC Connect
	hr

	form(method="post", action="/connect")
		div(class="form-group")
			label(for="input-host") Host / IP
			input(id="input-host", type="text", name="host", class="form-control", placeholder="Host / IP", value=host)

		div(class="form-group")
			label(for="input-port") Port
			input(id="input-port", type="text", name="port", class="form-control", placeholder="Port", value=port)

		div(class="form-group")
			label(for="input-username") Username
			input(id="input-username", type="text", name="username", class="form-control", placeholder="Username", value=username)

		div(class="form-group")
			label(for="input-password") Password
			input(id="input-password", type="password", name="password", class="form-control", placeholder="Password")

		div(class="form-group")
			input(type="submit", class="btn btn-primary btn-block" value="Connect")
				