extends layout

block content
	h1 BTC RPC Explorer
	hr

	:markdown-it
		This tool is intended to be a simple, stateless, self-hosted explorer for the Bitcoin blockchain, driven by RPC calls to your own bitcoind node. Because it is stateless, it is easy to run but lacks some (many?) of the features of other explorers.

		Start by connecting to your full, archiving bitcoind node. Make sure that the node you'll be connecting to has `txindex=1` set.

	form(method="post", action="/connect")
		div(class="card")
			div(class="card-body")
				h4(class="card-title") RPC Connect

				hr

				div(class="form-group")
					label(for="input-host") Host / IP
					input(type="text", name="host", class="form-control", value=host)

				div(class="form-group")
					label(for="input-host") Port
					input(type="text", name="port", class="form-control", value=port)

				div(class="form-group")
					label(for="input-host") Username
					input(type="text", name="username", class="form-control", value=username)

				div(class="form-group")
					label(for="input-host") Password
					input(type="password", name="password", class="form-control")

				hr

				input(type="submit", class="btn btn-primary btn-block" value="Connect")