extends layout

block content
	+pageTitle("Error")

	if (message)
		pre
			code.json.bg-body !{message}
	else
		p Unknown error

	if (error)
		h2 #{error.status}
		pre
			code.json.bg-body #{error.stack}
