extends layout

block headContent
	title Home
	
block content
	h1 BTC Explorer
	hr

	:markdown-it
		**BTC Explorer** is [open-source](https://github.com/janoside/btc-rpc-explorer). If you run your own [Bitcoin Full Node](https://bitcoin.org/en/full-node), **BTC Explorer** can easily run alongside it, communicating via RPC calls. See the project [ReadMe](https://github.com/janoside/btc-rpc-explorer) for a list of features and instructions for running.

	
	if (latestBlocks)
		h3 Latest Blocks
			if (getblockchaininfo.initialblockdownload)
				small  (#{(getblockchaininfo.headers - getblockchaininfo.blocks).toLocaleString()} behind)


		- var blocks = latestBlocks;
		- var blockOffset = 0;

		include includes/blocks-list.pug

		hr
		a(href="/blocks", class="btn btn-primary btn-block") See more

	hr

	div(class="")
		ul
			li MIT-licensed source code available on github: 
				a(href="https://github.com/janoside/btc-rpc-explorer") janoside/btc-rpc-explorer
				if (sourcecodeVersion)
					span  (@
					a(href=("https://github.com/janoside/btc-rpc-explorer/commit/" + sourcecodeVersion)) #{sourcecodeVersion}
					span )

			li Public instance maintained at 
				a(href="https://btc-explorer.com") https://btc-explorer.com
			
			li Donate: 
				a(href="bitcoin:3NPGpNyLLmVKCEcuipBs7G4KpQJoJXjDGe") BTC
				span  - 3NPGpNyLLmVKCEcuipBs7G4KpQJoJXjDGe

			li &copy; 2018 
				a(href="https://danjanosik.com") Dan Janosik