extends layout

block headContent
	title Home
	
block content
	h1 Bitcoin Atom Explorer
	hr

	:markdown-it
		**BCA Explorer** is an [open-source](https://github.com/bitcoin-atom/atom-rpc-client) Bitcoin Atom RPC block explorer. It is a fork of the [open-source BTC Explorer](https://github.com/janoside/btc-rpc-explorer). If you run your own [Atom Full Node](https://github.com/bitcoin-atom/bitcoin-atom/releases), this explorer can easily run alongside it, communicating via RPC calls.

	
	if (latestBlocks)
		div(class="row mt-5")
			div(class="col")
				h3 Latest Blocks
					if (getblockchaininfo.initialblockdownload)
						small  (#{(getblockchaininfo.headers - getblockchaininfo.blocks).toLocaleString()} behind)

			div(class="col")
				span(style="float: right;")
					a(href="/blocks") Browse Blocks &raquo;

		hr

		- var blocks = latestBlocks;
		- var blockOffset = 0;

		include includes/blocks-list.pug
