extends layout

block headContent
	title Home
	
block content
	h1 BTC Explorer
	hr

	:markdown-it
		**BTC Explorer** is [open-source](https://github.com/janoside/btc-rpc-explorer). If you run your own [Bitcoin Full Node](https://bitcoin.org/en/full-node), **BTC Explorer** can easily run alongside it, communicating via RPC calls. See the project [ReadMe](https://github.com/janoside/btc-rpc-explorer) for a list of features and instructions for running.

	
	if (latestBlocks)
		h3 Latest Blocks
			if (getblockchaininfo.initialblockdownload)
				small  (#{(getblockchaininfo.headers - getblockchaininfo.blocks).toLocaleString()} behind)

			span(style="float: right; font-size: 75%;")
				a(href="/blocks") Browse Blocks &raquo;


		- var blocks = latestBlocks;
		- var blockOffset = 0;

		include includes/blocks-list.pug