extends layout

block headContent
	title Bitcoin Explorer
	
block content
	if (getblockchaininfo == null)
		div.alert.alert-danger
			h5.mb-3 Unable to get basic blockchain data
			ul
				li
					p
						b If you just started your node, it may still be initializing.
						div At startup, bitcoind verifies its block index before making itself available to serve data. The amount of time the verification process takes depends largely on the speed of the machine bitcoind is running on. If you're running bitcoind on low powered, inexpensive hardware, don't be surprised if this process takes a long time.
				li
					p
						b If you believe your bitcoind node is already initialized...
						div Check your RPC connection info and/or check this application's error log for possible hints about the cause of this issue.
	else

		+dismissableInfoAlert("homepageWelcomeBannerDismissed")
			.clearfix
				.float-start
					h4.fw-light.mb-2 Welcome to Bitcoin Explorer!
				.float-start
					if (config.demoSite)
						span.badge.bg-primary.mb-2.ms-0.ms-md-3.mt-1(title=`This is a public demo, but this tool is designed to be installed and run by all Bitcoiners...<br/><i>Don't Trust, Verify</i>!`, data-bs-toggle="tooltip", data-bs-html="true")
							span.me-2 Public Demo
							i.fas.fa-sticky-note
			

			.mb-2 An easy-to-use, educational explorer whose <u>only dependency is your <b>Bitcoin Core</b> node</u>!
			.mb-3
				span.badge.bg-success.me-2(style="background-color: #fd9843 !importantx;")
					span.me-2 Open-Source
					i.fas.fa-check

				span.badge.bg-success.me-2(style="background-color: #fd9843 !importantx;")
					span.me-2 Easy Setup
					i.fas.fa-check

				span.badge.bg-success.me-2(style="background-color: #fd9843 !importantx;")
					span.me-2 Low Hardware Requirements
					i.fas.fa-check

				span.badge.bg-success.me-2(style="background-color: #fd9843 !importantx;")
					span.me-2 Fun!
					i.fas.fa-check
			
			if (false)
				ul.mb-2
					li Open-Source
					li Easy to setup
					li Designed for low-powered hardware
			
			.mt-4.mb-2
				if (global.sourcecodeProjectMetadata)
					a.btn.btn-primary.mb-2.mb-md-1.me-3(href="https://github.com/janoside/btc-rpc-explorer", title="View source code on Github", data-bs-toggle="tooltip", data-bs-placement="bottom")
						i.fab.fa-github.fa-lg.me-2
						| View Source

				a.btn.btn-primary.mb-2.mb-md-1.me-3(href="https://explorer-support.btc21.org", target="_blank", title="Support this project with a donation", data-bs-toggle="tooltip", data-bs-placement="bottom")
					i.fas.fa-heart.text-danger.fa-lg.me-2
					| Donate

				a.btn.btn-primary.mb-2.mb-md-1(href="https://twitter.com/BitcoinExplorer", target="_blank", title="Follow @BitcoinExplorer on Twitter", data-bs-toggle="tooltip", data-bs-placement="bottom")
					i.fab.fa-twitter.text-twitter.fa-lg.me-2
					| @BitcoinExplorer
					

				

		if (getblockchaininfo.initialblockdownload && !["regtest", "signet"].includes(global.activeBlockchain))
			div.alert.alert-warning.shadow-sm.border.mb-3
				div.fw-bold.mb-1 Initial Block Download (IBD) - In Progress...

				div.mb-1 Your node is currently downloading and verifying blockchain data. Until the process is finished, some features of this tool will be unusable and/or unreliable.

				span.fw-bold Progress: 
				span.font-monospace #{new Decimal(getblockchaininfo.verificationprogress).times(100).toDP(3)}%


		
		include includes/index-network-summary.pug
		
		
		
		if (latestBlocks)
			+contentSection("Latest Blocks")
				- var blocks = latestBlocks;
				- var blockOffset = 0;
				- var hideBlockIndex = true;

				include includes/blocks-list.pug

				.text-center
					.border.border-2.mb-3(class=(blocks.length % 2 == 1 ? "mt-2" : false))

					a(href="./blocks") Browse Blocks &raquo;
							

		+contentSection("Tools")
			include includes/tools-card.pug
				

		
