doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=no")
		
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", crossorigin="anonymous")
		link(rel="stylesheet", href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Cousine")
		link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css")
		link(rel='stylesheet', href='/css/styling.css')

		link(rel="icon", type="image/png", sizes="32x32", href="/img/favicons/favicon-32x32.png")
		link(rel="icon", type="image/png", sizes="96x96", href="/img/favicons/favicon-96x96.png")
		link(rel="icon", type="image/png", sizes="16x16", href="/img/favicons/favicon-16x16.png")

		block headContent
			title Bitcoin Atom Block Explorer
		
	body
		nav(class="navbar navbar-expand-lg navbar-dark bg-dark mb-4")
			div(class="container")
				a(class="navbar-brand", href="/")
					span
						img(src="/img/logo/logo-64.png", class="header-image")
						span BCA Block Explorer
						
				button(type="button", class="navbar-toggler navbar-toggler-right", data-toggle="collapse", data-target="#navbarNav")
					span(class="navbar-toggler-icon")
					
				div(class="collapse navbar-collapse", id="navbarNav")
					if (client)
						ul(class="navbar-nav mr-auto")
							if (debug)
								li(class="nav-item")
									a(href="/rpc-terminal", class="nav-link") RPC Terminal
							li(class="nav-item")
								a(href="/node-details", class="nav-link") Node Details
						form(method="post", action="/search", class="form-inline")
							div(class="input-group")
								input(type="text", class="form-control form-control-sm", name="query", placeholder="block height, block hash, txid", value=(query), style="width: 250px;")
								span(class="input-group-btn")
									input(type="submit", class="btn btn-primary", value="Search")

		div(class="container mb-4", style="margin-top: -1.0rem;")
			ul(class="nav")
				li(class="nav-item")
					a(href="/rpc-browser", class="nav-link") RPC Browser
				li(class="nav-item")
					a(href="/rpc-terminal", class="nav-link") RPC Terminal
				li(class="nav-item")
					a(href="/mempool-summary", class="nav-link") Mempool Summary

			hr
				
		div(class="container")
			if (userMessage)
				div(class="alert", class=(userMessageType ? ("alert-"  + userMessageType) : "alert-info"), role="alert")
					span !{userMessage}
			
			block content

			div(style="margin-bottom: 30px;")

			footer(class="pt-4 my-md-5 pt-md-5 border-top")
				ul
					li MIT-licensed source code available on GitHub: 
						a(href="https://github.com/bitcoin-atom") bitcoin-atom

					li Public instance maintained at 
						a(href="https://mainnet.bitcoinatom.io") https://mainnet.bitcoinatom.io

					li &copy; 2018 
						a(href="https://danjanosik.com") Dan Janosik, 
						a(href="https://github.com/bitcoin-atom") Bitcoin Atom developers
		
		script(src="https://code.jquery.com/jquery-3.2.1.min.js", integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=", crossorigin="anonymous")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js", integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q", crossorigin="anonymous")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js", integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb", crossorigin="anonymous")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js", integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", crossorigin="anonymous")

		script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js")
		
		script(src="https://cdn.ravenjs.com/3.22.4/raven.min.js", crossorigin="anonymous")
		script.
			Raven.config('https://0bf20e8357a748cab8aa9d35c0f790dd@sentry.io/130800').install();
			
			$(document).ready(function() {
				$('[data-toggle="tooltip"]').tooltip();
				$('[data-toggle="popover"]').popover({html:true});
			});

			hljs.initHighlightingOnLoad();
		
		block endOfBody
