extends layout

block headContent
	title Mempool Info
	
block content
	ol(class="breadcrumb")
		li(class="breadcrumb-item")
			a(href="/")
				strong #{host}
				span :#{port}
		li(class="breadcrumb-item active")
			a(href="/mempool-info") Mempool Info

	h1 Mempool Info
	hr

	include includes/getmempoolinfo-table.pug