extends layout

block headContent
	title Node Info
	
block content
	ol(class="breadcrumb")
		li(class="breadcrumb-item")
			a(href="/")
				strong #{host}
				span :#{port}
		li(class="breadcrumb-item active")
			a(href="/node-info") Node Info

	h1 Node Info
	hr

	include includes/getinfo-table.pug