extends layout

block headContent
	title #{coinConfig.name} Quote ##{quoteIndex}

block content
	+pageTitle(`${coinConfig.name} Quote #${quoteIndex}`)

	.mt-3.mb-4.px-6
		+quote(btcQuotes[quoteIndex])