extends layout

block headContent
	title #{coinConfig.name} Quote ##{quoteIndex}

block content
	+pageTitle(`${coinConfig.name} Quote #${quoteIndex}`)

	+contentSection
		.px-3.py-2
			+quote(btcQuotes[quoteIndex], -1, {fontSize: 1})