extends layout

block headContent
	title Search

block content
	h1.h3 Search
	hr

	div.mb-5
		form.form(method="post", action="/search")
			input(type="hidden", name="_csrf", value=csrfToken)

			div.input-group.input-group-lg
				input.form-control.form-control-sm(type="text", name="query", placeholder="block height/hash, txid, address", value=(query), style="width: 300px;")
				
				div.input-group-append
					button.btn.btn-primary(type="submit") Search