extends layout

block headContent
	title Search

block content
	+pageTitle("Search")

	+contentSection
		form.form.form-inline(method="post", action="./search")
			input(type="hidden", name="_csrf", value=csrfToken)

			div.input-group
				input.form-control(type="text", name="query", placeholder="block height/hash, txid, address", value=(query), style="width: 400px;")
				
				button.btn.btn-primary(type="submit") Search
		
