extends layout

block headContent
	title User Settings

block content
	+pageTitle("User Settings")

	+contentSection("Display Options")
		.row.pb-3.border-bottom.mb-4
			.col.text-start
				h6 Hide info notes
				span.text-muted Enabling this option hides all informational notes across the site.
			.col.text-end.me-3
				.d-inline-block.text-center
					if (userSettings.hideInfoNotes && userSettings.hideInfoNotes == "true")
						div Yes
						a(href=`./changeSetting?name=hideInfoNotes&value=false`)
							i.bi-toggle2-on.fs-3

					else
						div No
						a(href=`./changeSetting?name=hideInfoNotes&value=true`)
							i.bi-toggle2-off.fs-3


		.row
			.col.text-start
				h6 Manual UTC Offset
					span.small.text-muted.ms-1 (hours)
				span.text-muted If you want to set a custom UTC offset, rather than using your browser's default, you can set it here. This is helpful if your browser uses UTC time as a privacy-protecting measure. For locales ~West of UTC (i.e. West of London), set a negative value; for locales ~East of UTC, set a positive value.
			.col.text-end.me-3
				.d-inline-block.text-end
					form(method="get", action="./changeSetting")
						input(type="hidden", name="name", value="userTzOffset")
						input.form-control(type="text", name="value", value=userTzOffset)

					span.small.text-muted (Example: for New York, enter "-5")

	+contentSection("User Settings")
		pre
			code.json #{JSON.stringify(userSettings, null, 4)}

		hr

		a.btn.btn-primary(href="./admin/resetUserSettings") Reset To Defaults