body {
	font-size: 14px;
	font-family: "Ubuntu", sans-serif;
	/*font: 14px 'Open Sans', "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

hr {
	margin: 5px 0 15px 0;
}

img.header-image {
	margin-top: -10px;
	margin-bottom: -5px;
	width: 30px;
	height: 30px;
	margin-right: 10px;
}

code, .monospace {
	font-family: "Cousine", monospace;
}

.properties-header {
	width: 190px;
	text-align: right;
}

.word-wrap {
	word-wrap: break-word;
	word-break: break-all;
}

.tag {
	border-radius: 4px;
	background-color: #0275d8;
	color: white;
	padding: 2px 5px;
	margin-right: 4px;
}

#subheader a {
	margin-right: 20px;
}

.table th {
	border-top: none;
}

#sub-menu a:hover {
	text-decoration: underline;
}

@media (min-width: 1920px) {
	.container {
		max-width: 1800px;
	}
}