body {
	font-size: 14px;
	font-family: "Ubuntu", sans-serif;
	/*font: 14px 'Open Sans', "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

hr {
	margin: 5px 0 15px 0;
}

img.header-image {
	margin-top: -10px;
	margin-bottom: -5px;
	width: 30px;
	height: 30px;
	margin-right: 10px;
}

code, .monospace {
	font-family: "Source Code Pro", monospace;
}

.card-body {
	padding: 1.1em;
}

.details-table td {
	border-top: none;
	padding: 0.4em;
	padding-right: 0.6em;
}

.properties-header {
	width: 160px;
	text-align: right;
	font-weight: bold;
}

.popover {
	max-width: 1200px;
}

pre {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

.word-wrap {
	word-wrap: break-word;
	word-break: break-all;
}

.tag {
	border-radius: 4px;
	background-color: #0275d8;
	color: white;
	padding: 2px 5px;
	margin-right: 4px;
}

#subheader a {
	margin-right: 20px;
}

.table th {
	border-top: none;
}

.dropdown-item:focus, .dropdown-item:hover {
	background-color: #e3e3e3;
}

#sub-menu a:hover {
	text-decoration: underline;
}

strong {
	font-weight: 500;
}

.summary-table-label, .summary-table-content, .summary-split-table-label, .summary-split-table-content, .tx-io-label, .tx-io-content, .tx-io-desc, .tx-io-value {
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 5px;
	padding-left: 15px;
	margin-bottom: 5px;
}

.summary-table-label, .summary-split-table-label, .tx-io-label {
	font-weight: bold;
}

.summary-table-content, .summary-split-table-content {
	margin-bottom: 20px;
}

@media (min-width: 576px) {
	.summary-table-label {
		max-width: 100%;
		text-align: left;
	}
	.summary-table-content {
		max-width: 100%;
		margin-bottom: 20px;
	}

	.summary-split-table-label {
		max-width: 100%;
		text-align: left;
	}
	.summary-split-table-content {
		max-width: 100%;
		margin-bottom: 20px;
	}

	.tx-io-label { max-width: 100%; }
	.tx-io-content { max-width: 100%; }
	.tx-io-desc { max-width: 100%; }
	.tx-io-value { max-width: 100%; }
}

@media (min-width: 768px) {
	.summary-table-label {
		max-width: 18%;
		text-align: right;
	}
	.summary-table-content {
		max-width: 82%;
		margin-bottom: 5px;
	}

	.summary-split-table-label {
		max-width: 36%;
		text-align: right;
	}
	.summary-split-table-content {
		max-width: 64%;
		margin-bottom: 5px;
	}

	.tx-io-label { max-width: 8%; }
	.tx-io-content { max-width: 92%; }
	.tx-io-desc { max-width: 60%; }
	.tx-io-value { max-width: 40%; text-align: right; padding-right: 25px; }
}

@media (min-width: 992px) {
	.summary-table-label {
		max-width: 15%;
		text-align: right;
	}
	.summary-table-content {
		max-width: 85%;
		margin-bottom: 5px;
	}

	.summary-split-table-label {
		max-width: 30%;
		text-align: right;
	}
	.summary-split-table-content {
		max-width: 70%;
		margin-bottom: 5px;
	}

	.tx-io-label { max-width: 11%; }
	.tx-io-content { max-width: 89%; }
	.tx-io-desc { max-width: 60%; }
	.tx-io-value { max-width: 40%; text-align: right; padding-right: 25px; }
}

@media (min-width: 1200px) {
	.container {
		max-width: 1160px;
	}

	.summary-table-label {
		max-width: 11%;
		text-align: right;
	}
	.summary-table-content {
		max-width: 89%;
		margin-bottom: 5px;
	}

	.summary-split-table-label {
		max-width: 22%;
		text-align: right;
	}
	.summary-split-table-content {
		max-width: 78%;
		margin-bottom: 5px;
	}

	.tx-io-label { max-width: 9.5%; }
	.tx-io-content { max-width: 90.5%; }
	.tx-io-desc { max-width: 61%; }
	.tx-io-value { max-width: 39%; text-align: right; padding-right: 25px; }
}

@media (min-width: 1920px) {
	.container {
		max-width: 1800px;
	}

	.summary-table-label {
		max-width: 8%;
		text-align: right;
	}
	.summary-table-content {
		max-width: 92%;
		margin-bottom: 5px;
	}

	.summary-split-table-label {
		max-width: 16%;
		text-align: right;
	}
	.summary-split-table-content {
		max-width: 84%;
		margin-bottom: 5px;
	}

	.tx-io-label { max-width: 6.5%; }
	.tx-io-content { max-width: 93.5%; }
	.tx-io-desc { max-width: 70%; }
	.tx-io-value { max-width: 30%; text-align: right; padding-right: 25px; }
}



footer {
	border-top: solid 5px #597FA5;
	border-bottom: solid 5px #597FA5;
}

footer a {
	color: #ccc;
	text-decoration: underline;
}

footer a:hover {
	color: white;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
	/*background-color: #fbfbfb;*/
}

text {
	font-weight: 350;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
	font-size: 14px;
  }
  
  .node rect {
	stroke: #111;
	fill: #fff;
	stroke-width: 1.5px;
  }
  
  .edgePath path.path {
	/* stroke: #edad23;
	fill: #edad23; */
	stroke: #111;
	fill: #111;
	stroke-width: 1.5px;
  }
  
.arrowhead {
   stroke: #84dfaa;
   fill: #edad23;
   stroke-width: 1.5px;
  }