.position-fixed.bottom-0.end-0.p-3(style="z-index: 11")
	#tzUpdateToast.toast(role="alert" aria-live="assertive" aria-atomic="true")
		.toast-header
			strong.me-auto Timezone Updated
			button.btn-close(type="button", data-bs-dismiss="toast", aria-label="Close")
		.toast-body
			| Your local timezone was just updated. Refresh the page to see timestamps formatted using your timezone.